@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@layer base {
  :root {
    --background: 127 48% 100%;
    --foreground: 127 51% 4%;
    --muted: 97 16% 93%;
    --muted-foreground: 97 4% 27%;
    --popover: 127 48% 100%;
    --popover-foreground: 127 51% 4%;
    --card: 0 0% 99%;
    --card-foreground: 127 51% 3%;
    --border: 127 6% 94%;
    --input: 127 6% 94%;
    --primary: 127 72% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 97 72% 31%;
    --secondary-foreground: 0 0% 100%;
    --accent: 157 72% 31%;
    --accent-foreground: 0 0% 100%;
    --destructive: 3 88% 25%;
    --destructive-foreground: 3 88% 85%;
    --ring: 127 72% 31%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 127 43% 4%;
    --foreground: 127 32% 97%;
    --muted: 97 16% 7%;
    --muted-foreground: 97 4% 73%;
    --popover: 127 43% 4%;
    --popover-foreground: 127 32% 97%;
    --card: 127 43% 5%;
    --card-foreground: 127 32% 98%;
    --border: 127 6% 11%;
    --input: 127 6% 11%;
    --primary: 127 72% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 97 72% 31%;
    --secondary-foreground: 0 0% 100%;
    --accent: 157 72% 31%;
    --accent-foreground: 0 0% 100%;
    --destructive: 3 88% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 127 72% 31%;
  }
}

  